.section{
	padding:20px;
	background-color: #0e060a;
	display:flex;
	justify-content: space-between;
}

.btn{
	background: none;
	border: none;
	color:#999999;
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	padding:0;
}

.btn:hover{
	color:#eeeeee;
}

.btn.active{
	color: #9d0878;
}

.left{
	color:#999999;
	font-size: 12px;
	height: 22px;
	line-height: 23px;
}
